
body{
    width:100vw;
    height:100vw;
    background-color: #e8f9fd;
    margin: 0;
    padding: 0;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

  header{
    width:100%;
    display:grid;
    background:white;
    grid-template-columns:1fr 1fr 1fr;
    z-index:1; 
}
header .image-container{
    padding-top:1.5em;    
}

header img{
    width:14em;
    height:4rem;
    margin-left:7em;
}
header .input-container{
    display:flex;
    margin-top:1.25rem;
    padding:2rem;
    justify-content:center;
} 
.input-container input{
    width:20rem;
    height:2rem;
    padding-left:1rem;
    background:#e8f9fd;
    border-radius:0.5rem;
    border:none;
    
}
.input-container button{
    width:6rem;
    color:white;
    margin-left:0.6rem;
    border-radius:0.5rem;
    font-size:13px;
    background:DarkOrange;
    border:none;
}
.input-container button:hover{
    background:OrangeRed;
    cursor: pointer;
}

.button-container{
    margin-top:3.2rem;
    align-items:auto;
    padding-left:1;
}

header .links{
    display:flex;   
    height:2rem;
    
}
header .links a{
    background:DeepSkyBlue;
    text-align:center;
    border-radius:0.3rem;
    width:4rem;
    font-weight:bold;
    padding:0.4rem;
    color:white;
    text-decoration:none;   
}
header .links a:hover{
    background:Blue;
}
header .links a:nth-of-type(2){
    margin-left:2rem;
}
.item-display{
    display:grid;
    width:100vw;
    grid-template-columns:repeat(9,1fr);
    height:12rem;
    background:white;
    font-size:1rem;
    font-family:Arial, Helvetica, sans-serif;
    margin-top:2rem;
    justify-content:center;
    margin-bottom: 2rem;
}

.item-display a img{
    display:block;
    margin-bottom: 1.rem; 
    
}
.item-display a:hover{
    background-color:Linen ;
}
.item-display a{
    text-decoration:none;
    display:block;
    justify-content:center;
    text-align:center;
    font-weight:500;
    padding:2rem;
}
.ads{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    gap:1rem;
    grid-template-areas: "a a a" "b c d";
}
.ads a img{
    width:100%;
    object-fit:cover;
    display: block;
}
.ads .a{
    grid-area:a;
}
.ads .b{
    grid-area:b;
}
.ads .c{
    grid-area:c;
}
.ads .d{
    grid-area:d;
}
.top-deals{
    width:100%;
    text-align: center;
    margin-top:3rem;
    background:white;
    padding-top:1rem;
}
.deal-container{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    margin-bottom:2.5rem;
}
.deal-container a img{
    width:90%;
    height:18rem;
    margin-bottom:2rem;
}
.deal-container a:hover img{
    background-color:LightGray;
    opacity:0.8;
}
footer{
    background: black;
    color:white;
    text-decoration: none;
    padding:0.5rem 2rem 0.5rem 2rem;
    display:grid;
    grid-template-columns: repeat(4,1fr);
    justify-content: space-between;
}
footer div h2{
    color:LightGray;
    font-weight: 600;
}
footer div{
display:inline-block;
text-align: center;
font-family:Arial, Helvetica, sans-serif;

}
footer div a{
    display:block;
    text-decoration: none;
    color: white;;
    padding-bottom:0.7rem;
}
footer div a:hover{
    color:Silver;
}
.footer-container{
    background:black;
}
.tm{
    color:white;
    text-align:center;
    padding-bottom:0.5rem;
}
@media (max-width:480px){
    body{
        justify-content:center;
    }
    header{
        justify-content: center;
        grid-template-columns: 1fr;
    }
    img{
        width:80%;
        margin:auto;
    }
    header .input-container{
        flex-direction:column;
        align-items:center;
        margin-top:0.1rem;
    }
    .input-container button{
        margin-top:0.3rem;
        padding: 0.5em;
    }
    .button-container {
        display:flex;
        align-items:center;
        justify-content:center;
        padding-bottom:1.5rem;
        margin-top:0.1rem;
    }
    header .links a{
        font-weight:500;
        padding:0.5rem;
        width:3.5rem;
    }
    .item-display{
        grid-template-columns: 1fr 1fr;
       height:auto; 
       padding:1rem; 
    }
    .item-display a img {
        margin-bottom: 1rem;
    }

    .item-display a {
        padding: 1rem;
    }
    .ads{
        width:100vw;
        grid-template-columns: 1fr;
        grid-template-rows:repeat(4,auto);
        grid-template-areas:"a" "b" "c" "d" "e";
        
    }
    ads a{
        columns:span 1;
        margin-bottom: 0;
    }
    .deal-container{
        grid-template-columns:1fr 1fr;
        height:auto;
        padding:1rem;   
    }
    footer{
        grid-template-columns:1fr;
        margin-bottom:0;
    }
}     

@media (min-width:482px) and (max-width:768px){
    header{
        display:flex;
        flex-wrap:wrap;
        justify-content:center;
    }
    header img{
        margin:0;
    }
    header .button-container{
        margin:0;
    }
    header .links{
        top:0;
    }
    .item-display{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows:1fr 1fr 1fr;
        height:auto;
        
    }
    .item-display a{
        justify-content: center;
        text-align:center;
    }
    .deal-container{
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows:1fr 1fr;
        height:auto;
    }

} 





@media (min-width: 769px) {
    header {
        width:100vw;
        grid-template-columns: repeat(3, auto); 
        padding: auto;
    }

    header img {
        margin:auto; 
    }

    .input-container {
        flex-direction: row;
        margin-top: 1.25rem;
    }

    .input-container input {
        width: 20rem; 
        margin-top: 0; 
    }

    .button-container {
        padding-left: 0; 
    }
    header .links {
        margin-top: 0; 
    }
    
}


@media (aspect-ratio: 16/9) {
    body {
        background-color: #e8f9fd;
        margin: 0;
        padding: 0;
        font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    }
    header{
        background:black;
    }
}

@media (orientation:landscape){
   header{
    display:flex;
    justify-content:space-evenly;
   }
   .item-display {
   width:100vw;   
  }
}


